@{
    ViewBag.Title = "";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="rs-title center">
    <h2>Calendario de Anuncios</h2>
    <h3 class="mb30">A continuación puedes ver los dias disponibles para anunciarte con nosotros. Para mayor información contáctanos</h3>
    <a href="@Url.Action("Contact","Home")" class="btn btn-fancy" id="contact">
        <span>Contáctanos</span>
    </a>
</div>
<br />
<div style="padding-left:20%">
    <iframe src="https://www.google.com/calendar/embed?title=Trivia%20Catracha&amp;height=700&amp;wkst=1&amp;hl=es&amp;bgcolor=%2333ccff&amp;src=2fkkc2rlr5b3ifp9jrrfho88ss%40group.calendar.google.com&amp;color=%23865A5A&amp;ctz=America%2FTegucigalpa" style=" border:solid 1px #777 " width="900" height="700" frameborder="0" scrolling="no"></iframe>
</div>
