@{
    ViewBag.Title = "Contact";
}

<!-- CONTACT INFO-->
<div id="menu-contact" class="block-content features-simple-wrapper block-padding background-gray fullwidth center">
    <div class="features-simple">
        <div class="row">

            <div class="features-simple-block col-sm-4">
                
            </div><!-- /.features-simple-block -->
            <div class="features-simple-block col-sm-4">
                <div class="center">
                    <i class="features-simple-icon fa fa-envelope"></i>
                </div><!-- /.center -->
                <h2 class="block-subtitle center">Correo Electrónico</h2>
                <p class="center">
                    <a href="mailto:xtudio16@gmail.com">xtudio16@gmail.com</a> - Información
                </p>
            </div><!-- /.features-simple-block -->
        </div><!-- /.row -->
    </div><!-- /.features-simple -->
</div><!-- /.features-simple -->