@{
    ViewBag.Title = "Trivia Catracha";
}
<div>
    <div class="row">
        <div class="navbar-title-wrapper col-xs-12">
            <div class="tp-banner-container" >
                <div class="tp-banner rs-banner">
                    <ul class="unstyled" style="padding:initial">
                        <li data-transition="fade" data-masterspeed="0" data-slotamount="6">
                            <div class="tp-caption sft"
                                 data-start="1500"
                                 data-x="center"
                                 data-y="20"
                                 data-speed="900"
                                 data-width="248"
                                 data-height="209">
                                <div class="rs-title center">
                                    <h2>Trivia Catracha</h2>
                                    <h3 class="mb30">El juego que pone a prueba tus conocimientos</h3>
                                </div><!-- /.rs-title -->
                                <br />
                                <br />
                            </div>
                        </li>
                        <li data-transition="fade" data-masterspeed="0" data-slotamount="6">
                            <div class="tp-caption sft"
                                 data-start="1500"
                                 data-x="center"
                                 data-y="20"
                                 data-speed="900"
                                 data-width="248"
                                 data-height="209"
                                 >
                                <br />
                                <br />
                            </div>
                            <div class="block-content about-wrapper block-padding-large" style="padding-top:0px;">
                                <div class="about">
                                    <div class="row" style="padding-left:20%">
                                        <div class="col-sm-6" style="width:20%; padding-left:20px">
                                            <p class="slogan about-slogan" style="width:250px;">
                                                El juego mas nuevo de Xtudio16, integrado con círculos de G+ para que retes a tus amistades. Demuéstra quién es más Catracho.
                                            </p>

                                            <a href="@Url.Action("Juego","Home")" class="btn btn-fancy" id="learn">
                                                <span>Conocer más</span>
                                            </a>
                                        </div><!-- /.col-sm-6 -->

                                        <div >
                                            <img src="~/Assets/img/TcLogo%20-%20Copy.png" alt="" style="padding-left:0%" />
                                            <img src="~/Assets/img/1.png" alt="" style="padding-left:10%" />
                                        </div>
                                    </div><!-- /.row -->
                                </div><!-- /.about -->
                            </div><!-- /.about-wrapper -->

                           
                        </li>
                    </ul>
                </div><!-- /.tp-banner -->
            </div><!-- /.tp-banner-container -->
        </div><!-- /.navbar-title-wrapper -->
    </div><!-- /.row -->
</div><!-- /.container -->
