@{
    ViewBag.Title = "Juego";
}

    <script src="~/Assets/slider/js-image-slider.js"></script>
    <link href="~/Assets/slider/js-image-slider.css" rel="stylesheet" />
    <link href="~/Assets/slider/generic.css" rel="stylesheet" />
    <link href="themes/3/js-image-slider.css" rel="stylesheet" type="text/css" />
    <script src="themes/3/js-image-slider.js" type="text/javascript"></script>
    <link href="generic.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .cap {
            width: 190px;
            height: 240px;
            display: inline-block;
            background: white url( ~/Assets/img/1.png) no-repeat 0 0;
            border-radius: 4px;
        }

        .cap2 {
            background-image: url( ~/Assets/img/1.png);
        }

        .cap3 {
            background-image: url(images/caption3.gif);
        }

        .cap4 {
            background-image: url(images/caption4.gif);
        }
        .cap5 {
            background-image: url(images/caption4.gif);
        }
        .cap6 {
            background-image: url(images/caption4.gif);
        }
        .cap7 {
            background-image: url(images/caption4.gif);
        }
    </style>

<body>
    <div id="sliderFrame">
        <div id="slider">
            <a><img src=" ~/Assets/img/1.png" alt="#htmlcaption1"/></a>
            <a><img src=" ~/Assets/img/2.png" alt="#htmlcaption2"/></a>
            <a><img src=" ~/Assets/img/4.png" alt="#htmlcaption3"/></a>
            <a><img src=" ~/Assets/img/3.png" alt="#htmlcaption4"/></a>
            <a><img src=" ~/Assets/img/6.png" alt="#htmlcaption5"/></a>
            <a><img src=" ~/Assets/img/7.png" alt="#htmlcaption6"/></a>
            <a><img src=" ~/Assets/img/8.png" alt="#htmlcaption7"/></a>
        </div>
        
        <!--captions-->
        <div style="display: none;">
            <div id="htmlcaption1">
                <div class="cap">
                    <p>
                        Invita a tus amigos en tus círculos de g+ a competir y descubre quién es más catracho. Con preguntas de 8 temas:Arte, Cultura, Economía, Geografía, Historia, Literatura, Música y Política. ¡El primero en contestar 20 preguntas correctas es el Ganador!
                    </p>
                </div>
            </div>
            <div id="htmlcaption2">
                <div class="cap cap2">
                    <p>
                        En trivia catracha puedes crear una partida contra tus amigos, jugar una partida rápida contra un oponente desconocido, consultar el estado de tu partida y ver la tabla de líderes.
                    </p>
                </div>
            </div>
            <div id="htmlcaption3">
                <div class="cap cap3">
                    <p>
                        La categoría es seleccionada de forma aleatoria por el juego. ¿Estás listo para demostrar tus conocimientos?
                    </p>
                </div>
            </div>
            <div id="htmlcaption4">
                <div class="cap cap4">
                    <p>
                        Puedes ver el estado de tu partida aún cuando no es tu turno.
                    </p>
                </div>
            </div>
            <div id="htmlcaption5">
                <div class="cap cap5">
                    <p>
                       Contesta 20 preguntas de forma correcta antes que tu oponente y serás y ganador de la partida.
                    </p>
                </div>
            </div>
            <div id="htmlcaption6">
                <div class="cap cap6">
                    <p>
                        Al perder turno o completar 5 respuestas corrrectas consecutivas, visualizarás la publicidad de las empresas Hondureñas que apoyan esta iniciativa para fomentar el conocimiento sobre la cultura Hondureña.
                    </p>
                </div>
            </div>
            <div id="htmlcaption7">
                <div class="cap cap7">
                    <p>
                        Trivia Catracha es un juego creado por Xtudio16.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />

    <div id="wrapper">
        <div class="main">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="what-we-do-wrapper block-padding-large rain fullwidth">
                            <div class="what-we-do">
                                <h2 class="center block-title-large">¿Que es Trivia Catracha?</h2>
                                <p class="center slogan-large mb50">
                                    Trivia Catracha es un juego diseñado para dispositivos moviles que tiene como objetivo ayudar a fomentar la cultura Hondureña y ayudar a las empresas Hondureñas a poder anunciarse a traves de un medio innovador.
                                </p>
                                <div class="row">
                                    <div class="col-sm-2 col-sm-offset-2 center">
                                        <div class="progressbar-decoration center large green1">
                                            <i class="progressbar-decoration-icon fa fa-tint"></i>
                                        </div><!-- /.progressbar-decoration -->
                                        <div class="progressbar-wrapper no-margin">
                                            <i class="percentage-icon fa fa-tint"></i>

                                            <div class="progressbar-inner">
                                                <div class="progressbar" style="height: 82%">
                                                    <span class="progressbar-percentage">82%</span>
                                                </div><!-- /.progressbar -->
                                            </div><!-- /.progressbar-inner -->
                                        </div><!-- /.progressbar-wrapper -->
                                        <h2 class="center block-title-small">Diversion</h2>
                                    </div>
                                    <div class="col-sm-2 center">
                                        <div class="progressbar-decoration center medium purple">
                                            <i class="progressbar-decoration-icon fa fa-tint"></i>
                                        </div><!-- /.progressbar-decoration -->
                                        <div class="progressbar-wrapper purple no-margin">
                                            <i class="percentage-icon fa fa-tint"></i>
                                            <div class="progressbar-inner">
                                                <div class="progressbar" style="height: 60%">
                                                    <span class="progressbar-percentage">60%</span>
                                                </div><!-- /.progressbar -->
                                            </div><!-- /.progressbar-inner -->
                                        </div><!-- /.progressbar-wrapper -->
                                        <h2 class="center block-title-small">Habilidades</h2>
                                    </div>
                                    <div class="col-sm-2 center">
                                        <div class="progressbar-decoration center dinosauric orange">
                                            <i class="progressbar-decoration-icon fa fa-tint"></i>
                                        </div><!-- /.progressbar-decoration -->
                                        <div class="progressbar-wrapper orange no-margin">
                                            <i class="percentage-icon fa fa-tint"></i>
                                            <div class="progressbar-inner">
                                                <div class="progressbar" style="height: 94%">
                                                    <span class="progressbar-percentage">94%</span>
                                                </div><!-- /.progressbar -->
                                            </div><!-- /.progressbar-inner -->
                                        </div><!-- /.progressbar-wrapper -->
                                        <h2 class="center block-title-small">Conocimiento</h2>
                                    </div>
                                    <div class="col-sm-2 center">
                                        <div class="progressbar-decoration center small blue">
                                            <i class="progressbar-decoration-icon fa fa-tint"></i>
                                        </div><!-- /.progressbar-decoration -->
                                        <div class="progressbar-wrapper blue no-margin">
                                            <i class="percentage-icon fa fa-tint"></i>
                                            <div class="progressbar-inner">
                                                <div class="progressbar" style="height: 76%">
                                                    <span class="progressbar-percentage">76%</span>
                                                </div><!-- /.progressbar -->
                                            </div><!-- /.progressbar-inner -->
                                        </div><!-- /.progressbar-wrapper -->
                                        <h2 class="center block-title-small">Curiosidad</h2>
                                    </div>
                                </div><!-- /.row -->
                            </div><!-- /.what-we-do -->
                        </div><!-- /.what-we-do-wrapper -->
                    </div><!-- /.footer -->
                </div><!-- /.footer-inner -->
            </div><!-- /.footer-outer -->
        </div><!-- /#wrapper -->
    </div>
    <script type="text/javascript" src="../assets/js/jquery.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.viewport.min.js"></script>
    <script type="text/javascript" src="../assets/libraries/rendro-easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="../assets/libraries/isotope/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="../assets/libraries/jquery-smooth-scroll/src/jquery.smooth-scroll.js"></script>
    <script type="text/javascript" src="../assets/libraries/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="../assets/libraries/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="../assets/js/heaven.js"></script>
</body>
</html>